/* GLOBAL RULES */

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;
}

.container {
  width: 128rem;
  margin: 0 auto;
}
/* ------------------------------------------------ */

/* HEADER */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
}

.search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  width: 63rem;
}

.search-input {
  height: 3.9rem;
  width: 55rem;
  background-color: #f5f6f7;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  color: #999;
  border-radius: 0.5rem;
  border-style: none;
  outline-style: none;
  padding: 0.1rem 0.2rem 0.1rem 4rem;
}

.search-icon {
  position: relative;
  left: 2.7rem;
  color: rgb(187, 187, 187);
}

.cursor {
  border: solid 0.1rem red;
  height: 1rem;
  width: 5rem;
}

.logo-img {
  height: 4rem;
}

.signup-btn {
  margin-right: 2rem;
}

.signup-btn,
.login-btn,
.sold-btn {
  width: 11.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: rgb(44, 177, 186) solid 0.1rem;
  outline: none;
  cursor: pointer;
  color: rgb(44, 177, 186);
  font-size: 1.2rem;
  padding: 0.1rem 0.6rem;
}

.logout-btn {
  width: 11.5rem;
  height: 3rem;
  background-color: #c2175b;
  color: #fff;
  border: #c2175b;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.1rem 0.6rem;
}

.sold-btn {
  margin-left: 6rem;
  background-color: rgb(44, 177, 186);
  color: #fff;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

/* ------------------------------------------------- */

/* HEADBAND */

.headBand-img {
  height: 45.5rem;
  width: 100%;
  background-image: url(/src/assets/img/headband2.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.headband-sold {
  height: 22rem;
  width: 36rem;
  position: absolute;
  top: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 2.5rem;
  font-size: 3.4rem;
}

.headband-sold button {
  height: 4.5rem;
  width: 18.7rem;
  background-color: rgb(43, 174, 183);
  border-radius: 0.4rem;
  color: #fff;
  border: rgb(44, 177, 186) solid 0.1rem;
  outline: none;
  cursor: pointer;
  margin-top: 3.2rem;
  padding: 0rem 1.4rem;
  font-size: 1.6rem;
}
/* ------------------------------------------------- */

/* MAIN */

main {
  width: 128rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.card-container {
  width: 23.5rem;
  padding: 0 0.6rem 1.6rem;
}

.card-username {
  width: 23.5rem;
  padding: 1rem;
}

.card-img {
  height: 36rem;
  width: 23.5rem;
  object-fit: cover;
  cursor: pointer;
}

.card-infos {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-size: 1.4rem;
}
