/* GLOBAL RULES */

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;
}

.container {
  width: 128rem;
  margin: 0 auto;
}
/* ------------------------------------------------ */

/* HEADER */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
}

.search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  width: 63rem;
}

.search-input {
  height: 3.9rem;
  width: 55rem;
  background-color: #f5f6f7;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  color: #999;
  border-radius: 0.5rem;
  border-style: none;
  outline-style: none;
  padding: 0.1rem 0.2rem 0.1rem 4rem;
}

.search-icon {
  position: relative;
  left: 2.7rem;
  color: rgb(187, 187, 187);
}

.logo-img {
  height: 4rem;
}

.signup-btn {
  margin-right: 2rem;
}

.signup-btn,
.login-btn,
.sold-btn {
  width: 11.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: #2cb1ba solid 0.1rem;
  outline: none;
  cursor: pointer;
  color: #2cb1ba;
  font-size: 1.2rem;
  padding: 0.1rem 0.6rem;
}

.logout-btn {
  width: 11.5rem;
  height: 3rem;
  background-color: #c2175b;
  color: #fff;
  border: #c2175b;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.1rem 0.6rem;
}

.sold-btn {
  margin-left: 6rem;
  background-color: #2cb1ba;
  color: #fff;
}

.search-option {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.sort-text {
  margin-right: 1rem;
  padding-left: 2rem;
}

.sort-toggle {
  margin-right: 2.5rem;
}

.price-filter-text {
  margin-right: 2rem;
}

/* ------------------------------------------------- */

/* HEADBAND */

.headBand-img {
  height: 45.5rem;
  width: 100%;
  background-image: url(/src/assets/img/headband2.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.headband-sold {
  height: 22rem;
  width: 36rem;
  position: absolute;
  top: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 2.5rem;
  font-size: 3.4rem;
}

.headband-sold button {
  height: 4.5rem;
  width: 18.7rem;
  background-color: #2cb1ba;
  border-radius: 0.4rem;
  color: #fff;
  border: #2cb1ba solid 0.1rem;
  outline: none;
  cursor: pointer;
  margin-top: 3.2rem;
  padding: 0rem 1.4rem;
  font-size: 1.6rem;
}

/* ------------------------------------------------- */

/* MAIN */

main {
  width: 128rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.card-container {
  width: 23.5rem;
  padding: 0 0.6rem 1.6rem;
}

.card-username {
  width: 23.5rem;
  padding: 1rem;
}

.card-img {
  height: 36rem;
  width: 23.5rem;
  object-fit: cover;
  cursor: pointer;
}

.card-infos {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-size: 1.4rem;
}

/* ------------------------------------------------- */

.toggle-checked-down,
.toggle-checked-up {
  color: #fff;
}
